In [1]:
import pandas as pd
import numpy as np

# Make numpy values easier to read
np.set_printoptions(precision=3, suppress=True)

import tensorflow as tf
from tensorflow.keras import layers

2024-04-14 00:48:28.112061: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [2]:
tf.config.list_physical_devices()

2024-04-14 00:48:35.578909: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:998] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2024-04-14 00:48:35.601888: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:998] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2024-04-14 00:48:35.601996: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:998] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355

[PhysicalDevice(name='/physical_device:CPU:0', device_type='CPU'),
 PhysicalDevice(name='/physical_device:GPU:0', device_type='GPU')]

## In mamory data
For any small CSV dataset the simplest way to train a TensorFlow model on it is to load it into memory as a pandas DataFrame or a NumPy array.

A relatively simple example is the abalone dataset.

* The dataset is small.
* All the input features are limited-range floating point values.

In [3]:
abalone_train = pd.read_csv(
    "https://storage.googleapis.com/download.tensorflow.org/data/abalone_train.csv",
    names=["Length", "Diameter", "Height", "Whole weight", "Shucked weight",
           "Viscera weight", "Shell weight", "Age"])

abalone_train.head()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Age
0,0.435,0.335,0.110,0.334,0.1355,0.0775,0.0965,7
1,0.585,0.450,0.125,0.874,0.3545,0.2075,0.2250,6
2,0.655,0.510,0.160,1.092,0.3960,0.2825,0.3700,14
3,0.545,0.425,0.125,0.768,0.2940,0.1495,0.2600,16
4,0.545,0.420,0.130,0.879,0.3740,0.1695,0.2300,13

In [4]:
abalone_features = abalone_train.copy()
abalone_labels = abalone_features.pop('Age')

In [5]:
abalone_features = np.array(abalone_features)
abalone_features

array([[0.435, 0.335, 0.11 , ..., 0.136, 0.077, 0.097],
       [0.585, 0.45 , 0.125, ..., 0.354, 0.207, 0.225],
       [0.655, 0.51 , 0.16 , ..., 0.396, 0.282, 0.37 ],
       ...,
       [0.53 , 0.42 , 0.13 , ..., 0.374, 0.167, 0.249],
       [0.395, 0.315, 0.105, ..., 0.118, 0.091, 0.119],
       [0.45 , 0.355, 0.12 , ..., 0.115, 0.067, 0.16 ]])

In [6]:
abalone_model = tf.keras.Sequential([
  layers.Dense(64, activation='relu'),
  layers.Dense(1)
])

abalone_model.compile(loss = tf.keras.losses.MeanSquaredError(),
                      optimizer = tf.keras.optimizers.Adam())

2024-04-14 00:49:00.455091: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:998] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2024-04-14 00:49:00.455495: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:998] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2024-04-14 00:49:00.455776: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:998] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2024-04-14 00:49:00.515371: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:998] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2024-04-14 00:49:00.515470: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:998] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2024-04-14 00:49:00.515548: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:998] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2024-04-14 00:49:00.515883: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1928] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 22268 MB memory:  -> device: 0, name: NVIDIA GeForce RTX 3090, pci bus id: 0000:01:00.0, compute capability: 8.6

In [7]:
abalone_model.fit(abalone_features, abalone_labels, epochs=10)

Epoch 1/10

WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
I0000 00:00:1713055744.012428     187 service.cc:145] XLA service 0x795ed4013f30 initialized for platform CUDA (this does not guarantee that XLA will be used). Devices:
I0000 00:00:1713055744.012447     187 service.cc:153]   StreamExecutor device (0): NVIDIA GeForce RTX 3090, Compute Capability 8.6
2024-04-14 00:49:04.029935: I tensorflow/compiler/mlir/tensorflow/utils/dump_mlir_util.cc:268] disabling MLIR crash reproducer, set env var `MLIR_CRASH_REPRODUCER_DIRECTORY` to enable.
2024-04-14 00:49:04.086984: I external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:465] Loaded cuDNN version 8906

104/104 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 94.0638
Epoch 2/10
  1/104 ━━━━━━━━━━━━━━━━━━━━ 1s 12ms/step - loss: 59.9211

I0000 00:00:1713055744.235807     187 device_compiler.h:188] Compiled cluster using XLA!  This line is logged at most once for the lifetime of the process.

104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 385us/step - loss: 38.2300
Epoch 3/10
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 387us/step - loss: 10.1926
Epoch 4/10
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 365us/step - loss: 9.2225
Epoch 5/10
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 356us/step - loss: 8.3561
Epoch 6/10
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 357us/step - loss: 8.1524
Epoch 7/10
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 356us/step - loss: 7.9957
Epoch 8/10
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 344us/step - loss: 7.0788
Epoch 9/10
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 353us/step - loss: 6.8939
Epoch 10/10
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 361us/step - loss: 6.9390

## Basic preprocessing

It's good practice to normalize the inputs to your model. The Keras preprocessing layers provide a convenient way to build this normalization into your model.

The `tf.keras.layers.Normalization` layer precomputes the mean and variance of each column, and uses these to normalize the data.

First, create the layer:

In [8]:
normalize = layers.Normalization()

In [9]:
# adapt the normalization layer to your data
normalize.adapt(abalone_features)

In [10]:
# then use the normalization layer in the model
norm_abalone_model = tf.keras.Sequential([
  normalize,
  layers.Dense(64, activation='relu'),
  layers.Dense(1)
])

norm_abalone_model.compile(loss = tf.keras.losses.MeanSquaredError(),
                           optimizer = tf.keras.optimizers.Adam())

norm_abalone_model.fit(abalone_features, abalone_labels, epochs=10)

Epoch 1/10
104/104 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 97.6242
Epoch 2/10
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 375us/step - loss: 45.6015
Epoch 3/10
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 368us/step - loss: 30.9855
Epoch 4/10
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 363us/step - loss: 20.8785
Epoch 5/10
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 360us/step - loss: 12.5171
Epoch 6/10
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 363us/step - loss: 7.6099
Epoch 7/10
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 383us/step - loss: 6.9523
Epoch 8/10
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 368us/step - loss: 6.0372
Epoch 9/10
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 353us/step - loss: 5.6547
Epoch 10/10
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 357us/step - loss: 5.8727

## Mixed data types

In [11]:
titanic = pd.read_csv("https://storage.googleapis.com/tf-datasets/titanic/train.csv")
titanic.head()

,survived,sex,age,n_siblings_spouses,parch,fare,class,deck,embark_town,alone
0,0,male,22.0,1,0,7.2500,Third,unknown,Southampton,n
1,1,female,38.0,1,0,71.2833,First,C,Cherbourg,n
2,1,female,26.0,0,0,7.9250,Third,unknown,Southampton,y
3,1,female,35.0,1,0,53.1000,First,C,Southampton,n
4,0,male,28.0,0,0,8.4583,Third,unknown,Queenstown,y

In [44]:
titanic.shape

(627, 10)

In [12]:
titanic_features = titanic.copy()
titanic_labels = titanic_features.pop('survived')

### Symbolic tensors

The functional API operates on "symbolic" tensors. Normal "eager" tensors have a value. In contrast these "symbolic" tensors do not. Instead they keep track of which operations are run on them, and build a representation of the calculation, that you can run later. Here's a quick example:

In [13]:
# Create a symbolic input
input = tf.keras.Input(shape=(), dtype=tf.float32)

# Perform a calculation using the input
result = 2*input + 1

# the result doesn't have a value
result

In [14]:
calc = tf.keras.Model(inputs=input, outputs=result)

In [15]:
print(calc(np.array([1])).numpy())
print(calc(np.array([2])).numpy())

[3.]
[5.]

---

# Summary

```python
titanic_features = titanic.copy()
titanic_labels = titanic_features.pop('survived')

# make a dict of tensors using dtypes for each input column
inputs = {}
for name, column in titanic_features.items():
  dtype = column.dtype
  if dtype == object:
    dtype = tf.string
  else:
    dtype = tf.float32
  inputs[name] = tf.keras.Input(shape=(1,), name=name, dtype=dtype)


# collect numeric inputs
numeric_inputs = {name:input for name,input in inputs.items()
                  if input.dtype==tf.float32}
x = layers.Concatenate()(list(numeric_inputs.values()))
norm = layers.Normalization()
norm.adapt(np.array(titanic[numeric_inputs.keys()]))
all_numeric_inputs = norm(x)  # shape(None, 4) tensors

preprocessed_inputs = [all_numeric_inputs]


# collect categorical inputs
for name, input in inputs.items():
  if input.dtype == tf.float32:
    continue
  lookup = layers.StringLookup(vocabulary=np.unique(titanic_features[name]))
  one_hot = layers.CategoryEncoding(num_tokens=lookup.vocabulary_size())
  x = lookup(input)
  x = one_hot(x)
  preprocessed_inputs.append(x)  # ending up appending shape(None, 24) input tensors

preprocessed_inputs_cat = layers.Concatenate()(preprocessed_inputs)  # shape=(None, 28); num+cat
titanic_preprocessing = tf.keras.Model(inputs=inputs, outputs=preprocessed_inputs_cat)


# create a model
def titanic_model(preprocessing_head, inputs):
  body = tf.keras.Sequential([
    layers.Dense(64, activation='relu'),
    layers.Dense(1)
  ])

  preprocessed_inputs = preprocessing_head(inputs)
  result = body(preprocessed_inputs)
  model = tf.keras.Model(inputs, result)

  model.compile(loss=tf.keras.losses.BinaryCrossentropy(from_logits=True),
                optimizer=tf.keras.optimizers.Adam())
  return model

titanic_model = titanic_model(titanic_preprocessing, inputs)


# run a model
titanic_features_dict = {name: np.array(value) 
                         for name, value in titanic_features.items()}
titanic_model.fit(x=titanic_features_dict, y=titanic_labels, epochs=10)
```

---

### Collect numeric inputs

In [16]:
inputs = {}

for name, column in titanic_features.items():
  dtype = column.dtype
  if dtype == object:
    dtype = tf.string
  else:
    dtype = tf.float32

  inputs[name] = tf.keras.Input(shape=(1,), name=name, dtype=dtype)

inputs

{'sex': <KerasTensor shape=(None, 1), dtype=string, sparse=None, name=sex>,
 'age': <KerasTensor shape=(None, 1), dtype=float32, sparse=None, name=age>,
 'n_siblings_spouses': <KerasTensor shape=(None, 1), dtype=float32, sparse=None, name=n_siblings_spouses>,
 'parch': <KerasTensor shape=(None, 1), dtype=float32, sparse=None, name=parch>,
 'fare': <KerasTensor shape=(None, 1), dtype=float32, sparse=None, name=fare>,
 'class': <KerasTensor shape=(None, 1), dtype=string, sparse=None, name=class>,
 'deck': <KerasTensor shape=(None, 1), dtype=string, sparse=None, name=deck>,
 'embark_town': <KerasTensor shape=(None, 1), dtype=string, sparse=None, name=embark_town>,
 'alone': <KerasTensor shape=(None, 1), dtype=string, sparse=None, name=alone>}

The first step in your preprocessing logic is to concatenate the numeric inputs together, and run them through a normalization layer:

In [17]:
numeric_inputs = {name:input for name,input in inputs.items()
                  if input.dtype==tf.float32}

x = layers.Concatenate()(list(numeric_inputs.values()))
norm = layers.Normalization()
norm.adapt(np.array(titanic[numeric_inputs.keys()]))
all_numeric_inputs = norm(x)

all_numeric_inputs

In [18]:
preprocessed_inputs = [all_numeric_inputs]

### Collecting categorical inputs
For the string inputs use the `tf.keras.layers.StringLookup` function to map from strings to integer indices in a vocabulary. Next, use `tf.keras.layers.CategoryEncoding` to convert the indexes into float32 data appropriate for the model.

The default settings for the `tf.keras.layers.CategoryEncoding` layer create a one-hot vector for each input. A `tf.keras.layers.Embedding` would also work. Check out the Working with preprocessing layers guide and the Classify structured data using Keras preprocessing layers tutorial for more on this topic

In [19]:
for name, input in inputs.items():
  if input.dtype == tf.float32:
    continue

  lookup = layers.StringLookup(vocabulary=np.unique(titanic_features[name]))
  one_hot = layers.CategoryEncoding(num_tokens=lookup.vocabulary_size())

  x = lookup(input)
  x = one_hot(x)
  preprocessed_inputs.append(x)

With the collection of `inputs` and `preprocessed_inputs`, you can concatenate all the preprocessed inputs together, and build a model that handles the preprocessing:

In [ ]:
preprocessed_inputs_cat = layers.Concatenate()(preprocessed_inputs)
titanic_preprocessing = tf.keras.Model(inputs=inputs, outputs=preprocessed_inputs_cat)

#tf.keras.utils.plot_model(model = titanic_preprocessing , rankdir="LR", dpi=72, show_shapes=True)

In [57]:
preprocessed_inputs_cat

In [56]:
titanic_features_dict = {name: np.array(value) 
                         for name, value in titanic_features.items()}

display(titanic_features_dict.keys())
display(list(titanic_features_dict.values())[0][:3])

dict_keys(['sex', 'age', 'n_siblings_spouses', 'parch', 'fare', 'class', 'deck', 'embark_town', 'alone'])

array(['male', 'female', 'female'], dtype=object)

In [55]:
# the first element of slices
features_dict = {name:values[:1] for name, values in titanic_features_dict.items()}
features_dict

{'sex': array(['male'], dtype=object),
 'age': array([22.]),
 'n_siblings_spouses': array([1]),
 'parch': array([0]),
 'fare': array([7.25]),
 'class': array(['Third'], dtype=object),
 'deck': array(['unknown'], dtype=object),
 'embark_town': array(['Southampton'], dtype=object),
 'alone': array(['n'], dtype=object)}

In [ ]:
titanic_preprocessing(features_dict)

<tf.Tensor: shape=(1, 28), dtype=float32, numpy=
array([[-0.61 ,  0.395, -0.479, -0.497,  0.   ,  0.   ,  1.   ,  0.   ,
         0.   ,  0.   ,  1.   ,  0.   ,  0.   ,  0.   ,  0.   ,  0.   ,
         0.   ,  0.   ,  0.   ,  1.   ,  0.   ,  0.   ,  0.   ,  1.   ,
         0.   ,  0.   ,  1.   ,  0.   ]], dtype=float32)>

In [23]:
def titanic_model(preprocessing_head, inputs):
  body = tf.keras.Sequential([
    layers.Dense(64, activation='relu'),
    layers.Dense(1)
  ])

  preprocessed_inputs = preprocessing_head(inputs)
  result = body(preprocessed_inputs)
  model = tf.keras.Model(inputs, result)

  model.compile(loss=tf.keras.losses.BinaryCrossentropy(from_logits=True),
                optimizer=tf.keras.optimizers.Adam())
  return model

titanic_model = titanic_model(titanic_preprocessing, inputs)

In [24]:
titanic_model.fit(x=titanic_features_dict, y=titanic_labels, epochs=10)

Epoch 1/10
20/20 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.6691
Epoch 2/10
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.6012
Epoch 3/10
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.5506
Epoch 4/10
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.5141
Epoch 5/10
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.4930
Epoch 6/10
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.4428
Epoch 7/10
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.4216
Epoch 8/10
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.4283
Epoch 9/10
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.4337
Epoch 10/10
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.3994

In [25]:
titanic_model.save('test.keras')
reloaded = tf.keras.models.load_model('test.keras')

In [26]:
titanic_model.save('test.keras')
reloaded = tf.keras.models.load_model('test.keras')

In [27]:
features_dict = {name:values[:1] for name, values in titanic_features_dict.items()}

before = titanic_model(features_dict)
after = reloaded(features_dict)
assert (before-after)<1e-3
print(before)
print(after)

tf.Tensor([[-1.944]], shape=(1, 1), dtype=float32)
tf.Tensor([[-1.944]], shape=(1, 1), dtype=float32)

## Using tf.data

In the previous section you relied on the model's built-in data shuffling and batching while training the model.

If you need more control over the input data pipeline or need to use data that doesn't easily fit into memory: use `tf.data`.

For more examples, refer to the `tf.data`: Build TensorFlow input pipelines guide.

### On in memory data

As a first example of applying `tf.data` to CSV data, consider the following code to manually slice up the dictionary of features from the previous section. For each index, it takes that index for each feature:

In [28]:
import itertools

def slices(features):
    for i in itertools.count():
        # For each feature take index `i`
        example = {name: values[i] for name, values in features.items()}
        yield example

In [31]:
for example in slices(titanic_features_dict):
    for name, value in example.items():
        print(f"{name:19s}: {value}")
    break

sex                : male
age                : 22.0
n_siblings_spouses : 1
parch              : 0
fare               : 7.25
class              : Third
deck               : unknown
embark_town        : Southampton
alone              : n

**`tf.data.Dataset.from_tensor_slices`**  

The most basic `tf.data.Dataset` in memory data loader is the `Dataset.from_tensor_slices` constructor. This returns a `tf.data.Dataset` that implements a generalized version of the above `slices` function, in TensorFlow.

In [32]:
features_ds = tf.data.Dataset.from_tensor_slices(titanic_features_dict)

In [33]:
for example in features_ds:
  for name, value in example.items():
    print(f"{name:19s}: {value}")
  break

sex                : b'male'
age                : 22.0
n_siblings_spouses : 1
parch              : 0
fare               : 7.25
class              : b'Third'
deck               : b'unknown'
embark_town        : b'Southampton'
alone              : b'n'

The `from_tensor_slices` function can handle any structure of nested dictionaries or tuples. The following code makes a dataset of `(features_dict, labels)` pairs:

In [41]:
titanic_features_dict

{'sex': array(['male', 'female', 'female', 'female', 'male', 'male', 'female',
        'female', 'female', 'male', 'male', 'female', 'male', 'male',
        'female', 'female', 'male', 'male', 'female', 'male', 'male',
        'female', 'male', 'male', 'female', 'female', 'male', 'male',
        'male', 'male', 'female', 'female', 'female', 'male', 'female',
        'male', 'male', 'male', 'female', 'male', 'female', 'female',
        'male', 'male', 'female', 'male', 'male', 'male', 'female', 'male',
        'male', 'male', 'male', 'female', 'male', 'male', 'male', 'male',
        'male', 'male', 'male', 'male', 'female', 'male', 'male', 'female',
        'male', 'male', 'male', 'female', 'male', 'male', 'male', 'male',
        'male', 'male', 'female', 'male', 'female', 'male', 'male', 'male',
        'male', 'male', 'male', 'female', 'male', 'female', 'male',
        'female', 'male', 'male', 'male', 'male', 'male', 'male', 'female',
        'male', 'male', 'male', 'male', 'female', 'male', 'female', 'male',
        'male', 'male', 'female', 'female', 'male', 'male', 'female',
        'male', 'male', 'male', 'male', 'male', 'female', 'male', 'male',
        'male', 'male', 'male', 'male', 'female', 'male', 'male', 'male',
        'male', 'female', 'male', 'male', 'female', 'male', 'male',
        'female', 'female', 'male', 'male', 'female', 'female', 'male',
        'female', 'female', 'male', 'female', 'female', 'male', 'male',
        'male', 'female', 'male', 'male', 'female', 'male', 'female',
        'male', 'male', 'female', 'female', 'male', 'male', 'male', 'male',
        'male', 'male', 'male', 'male', 'female', 'female', 'male', 'male',
        'female', 'male', 'male', 'male', 'female', 'female', 'male',
        'male', 'male', 'female', 'male', 'female', 'male', 'female',
        'female', 'female', 'female', 'male', 'male', 'male', 'female',
        'male', 'male', 'male', 'female', 'female', 'male', 'male',
        'female', 'male', 'female', 'female', 'female', 'male', 'male',
        'female', 'male', 'male', 'male', 'female', 'male', 'male', 'male',
        'female', 'female', 'male', 'female', 'male', 'female', 'female',
        'male', 'female', 'female', 'female', 'female', 'male', 'male',
        'female', 'female', 'female', 'male', 'male', 'female', 'male',
        'female', 'male', 'female', 'female', 'male', 'female', 'male',
        'male', 'male', 'male', 'male', 'male', 'male', 'female', 'female',
        'female', 'male', 'male', 'male', 'male', 'female', 'female',
        'female', 'female', 'male', 'male', 'female', 'male', 'male',
        'female', 'female', 'female', 'female', 'male', 'male', 'female',
        'male', 'male', 'female', 'male', 'male', 'male', 'male', 'male',
        'female', 'male', 'male', 'female', 'female', 'male', 'female',
        'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male',
        'female', 'male', 'male', 'male', 'male', 'female', 'female',
        'female', 'male', 'male', 'male', 'male', 'female', 'male', 'male',
        'male', 'female', 'female', 'male', 'male', 'female', 'female',
        'male', 'male', 'female', 'male', 'female', 'male', 'male',
        'female', 'male', 'male', 'male', 'male', 'male', 'male', 'female',
        'male', 'male', 'male', 'male', 'male', 'male', 'male', 'female',
        'male', 'female', 'female', 'male', 'male', 'male', 'female',
        'male', 'male', 'female', 'male', 'female', 'female', 'male',
        'male', 'male', 'male', 'male', 'female', 'male', 'female',
        'female', 'male', 'female', 'male', 'male', 'female', 'male',
        'male', 'female', 'female', 'male', 'female', 'male', 'female',
        'male', 'male', 'female', 'male', 'male', 'female', 'male',
        'female', 'female', 'female', 'male', 'female', 'female', 'female',
        'female', 'female', 'male', 'female', 'male', 'male', 'male',
        'male', 'male', 'female', 'female', 'male', 'female', 'female',
        'male', 'male', 'male', 'male', 'male', 'female', 'male', 'male',
        'female', 'male', 'male', 'female', 'female', 'male', 'male',
        'male', 'male', 'male', 'female', 'male', 'female', 'male', 'male',
        'female', 'male', 'male', 'male', 'male', 'male', 'male', 'male',
        'female', 'female', 'female', 'male', 'female', 'male', 'female',
        'male', 'male', 'male', 'male', 'male', 'female', 'male', 'male',
        'male', 'male', 'male', 'female', 'female', 'male', 'female',
        'male', 'male', 'male', 'female', 'male', 'male', 'female', 'male',
        'female', 'male', 'male', 'male', 'female', 'male', 'male', 'male',
        'male', 'male', 'male', 'male', 'female', 'male', 'male', 'male',
        'male', 'female', 'male', 'male', 'male', 'male', 'male', 'male',
        'male', 'female', 'male', 'female', 'male', 'male', 'female',
        'male', 'male', 'male', 'male', 'female', 'male', 'female', 'male',
        'male', 'male', 'male', 'female', 'female', 'male', 'male',
        'female', 'male', 'male', 'female', 'male', 'female', 'female',
        'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male',
        'female', 'male', 'male', 'female', 'male', 'male', 'male',
        'female', 'male', 'male', 'male', 'male', 'male', 'female', 'male',
        'male', 'male', 'male', 'female', 'male', 'male', 'female',
        'female', 'male', 'male', 'male', 'male', 'male', 'male', 'male',
        'female', 'male', 'male', 'male', 'female', 'female', 'male',
        'female', 'male', 'female', 'male', 'male', 'male', 'male',
        'female', 'male', 'male', 'male', 'male', 'male', 'female', 'male',
        'male', 'female', 'male', 'male', 'male', 'male', 'male', 'female',
        'male', 'male', 'male', 'female', 'male', 'male', 'male', 'male',
        'female', 'male', 'male', 'male', 'male', 'male', 'female', 'male',
        'female', 'female', 'female', 'male', 'female', 'male', 'male',
        'female', 'female', 'male', 'male', 'male', 'female', 'male',
        'male', 'female', 'female', 'male', 'male', 'male', 'female',
        'male', 'male', 'female', 'female', 'male'], dtype=object),
 'age': array([22.  , 38.  , 26.  , 35.  , 28.  ,  2.  , 27.  , 14.  ,  4.  ,
        20.  , 39.  , 14.  ,  2.  , 28.  , 31.  , 28.  , 35.  , 28.  ,
        38.  , 28.  , 19.  , 28.  , 28.  , 40.  , 28.  , 28.  , 66.  ,
        28.  , 42.  , 28.  , 14.  , 40.  , 27.  , 28.  ,  3.  , 28.  ,
        28.  , 28.  , 18.  ,  7.  , 49.  , 29.  , 65.  , 28.  , 21.  ,
        28.5 , 11.  , 22.  , 38.  , 45.  ,  4.  , 28.  , 19.  , 17.  ,
        26.  , 32.  , 21.  , 32.  , 25.  , 28.  , 28.  ,  0.83, 30.  ,
        22.  , 29.  , 28.  , 28.  , 16.  , 28.  , 23.  , 24.  , 46.  ,
        59.  , 28.  , 71.  , 23.  , 34.  , 34.  , 28.  , 28.  , 21.  ,
        33.  , 37.  , 28.  , 28.  , 28.  , 47.  , 14.5 , 22.  , 17.  ,
        21.  , 70.5 , 29.  , 24.  , 28.  , 32.5 , 32.5 , 28.  , 24.  ,
        45.  , 20.  , 47.  , 23.  , 19.  , 37.  , 16.  , 24.  , 28.  ,
        22.  , 19.  , 18.  ,  9.  , 51.  , 55.5 , 40.5 , 28.  , 51.  ,
        16.  , 28.  , 28.  , 44.  , 26.  , 17.  ,  1.  , 28.  , 28.  ,
         4.  , 18.  , 28.  , 50.  , 30.  , 36.  , 28.  , 28.  ,  9.  ,
         4.  , 28.  , 45.  , 36.  , 32.  , 19.  ,  3.  , 44.  , 58.  ,
        28.  , 28.  , 24.  , 28.  , 28.  , 34.  ,  2.  , 32.  , 26.  ,
        16.  , 40.  , 35.  , 22.  , 28.  , 31.  , 27.  , 42.  , 30.  ,
        16.  , 51.  , 22.  , 19.  , 20.5 , 18.  , 28.  , 35.  , 29.  ,
        59.  , 28.  , 44.  , 19.  , 33.  , 28.  , 28.  , 22.  , 30.  ,
        44.  , 24.  , 28.  , 29.  , 30.  , 41.  , 28.  , 35.  , 50.  ,
        28.  ,  3.  , 40.  , 28.  , 36.  , 16.  , 25.  , 58.  , 35.  ,
        28.  , 25.  , 41.  , 37.  , 28.  , 63.  , 45.  , 28.  ,  7.  ,
        35.  , 28.  , 16.  , 28.  , 26.  , 36.  , 24.  , 28.  , 50.  ,
        28.  , 19.  , 28.  , 28.  , 28.  , 17.  , 30.  , 30.  , 24.  ,
        18.  , 26.  , 28.  , 43.  , 24.  , 31.  , 40.  , 22.  , 27.  ,
        22.  , 28.  , 36.  , 61.  , 31.  , 28.  , 38.  , 28.  , 28.  ,
        29.  , 45.  , 45.  , 28.  , 25.  , 36.  , 24.  , 40.  , 28.  ,
        15.  , 25.  , 28.  , 28.  , 22.  , 38.  , 28.  , 28.  , 40.  ,
        29.  , 45.  , 35.  , 28.  , 60.  , 28.  , 28.  , 24.  , 18.  ,
        19.  , 28.  , 27.  , 19.  , 42.  , 32.  , 28.  , 18.  ,  1.  ,
        28.  , 17.  , 36.  , 21.  , 23.  , 24.  , 22.  , 31.  , 46.  ,
        23.  , 39.  , 26.  , 28.  , 34.  ,  3.  , 21.  , 28.  , 28.  ,
        28.  , 28.  , 44.  , 28.  , 34.  , 18.  , 30.  , 28.  , 21.  ,
        18.  , 19.  , 28.  , 32.  , 28.  , 28.  , 42.  , 17.  , 50.  ,
        14.  , 24.  , 64.  , 31.  , 45.  , 20.  , 28.  , 28.  , 34.  ,
         5.  , 52.  , 36.  , 30.  , 49.  , 29.  , 65.  , 28.  , 48.  ,
        34.  , 47.  , 28.  , 38.  , 56.  , 28.  ,  0.75, 28.  , 33.  ,
        23.  , 28.  , 34.  , 29.  ,  2.  ,  9.  , 28.  , 63.  , 25.  ,
        28.  , 35.  , 58.  ,  9.  , 28.  , 71.  , 21.  , 25.  , 17.  ,
        21.  , 37.  , 18.  , 33.  , 28.  , 26.  , 54.  , 24.  , 47.  ,
        34.  , 36.  , 32.  , 30.  , 22.  , 44.  , 28.  , 40.5 , 50.  ,
        28.  , 23.  ,  2.  , 17.  , 28.  , 30.  ,  7.  , 45.  , 30.  ,
        22.  , 36.  ,  9.  , 11.  , 50.  , 19.  , 28.  , 33.  , 17.  ,
        27.  , 28.  , 22.  , 48.  , 28.  , 39.  , 36.  , 28.  , 40.  ,
        28.  , 24.  , 19.  , 29.  , 32.  , 62.  , 53.  , 36.  , 16.  ,
        34.  , 25.  , 36.  , 47.  , 60.  , 28.  , 35.  , 52.  , 47.  ,
        28.  , 37.  , 36.  , 28.  , 49.  , 28.  , 49.  , 35.  , 36.  ,
        30.  , 27.  , 22.  , 40.  , 39.  , 28.  , 28.  , 35.  , 24.  ,
        34.  , 26.  , 20.  , 61.  , 57.  , 21.  , 26.  , 28.  , 80.  ,
        51.  , 32.  ,  9.  , 28.  , 32.  , 41.  , 28.  , 20.  , 28.  ,
         0.75, 48.  , 28.  , 23.  , 28.  , 18.  , 21.  , 24.  , 28.  ,
        32.  , 50.  , 47.  , 36.  , 20.  , 25.  , 28.  , 43.  , 40.  ,
        31.  , 31.  , 28.  , 18.  , 18.  , 36.  , 27.  , 20.  , 14.  ,
        60.  , 19.  , 18.  , 15.  , 31.  ,  4.  , 28.  , 60.  , 28.  ,
        49.  , 35.  , 25.  , 39.  , 22.  , 28.  , 24.  , 28.  , 48.  ,
        29.  , 19.  , 38.  , 27.  , 28.  , 33.  ,  6.  , 50.  , 27.  ,
        30.  , 25.  , 25.  , 29.  , 11.  , 28.  , 23.  , 23.  , 35.  ,
        28.  , 28.  , 36.  , 21.  , 24.  , 70.  ,  4.  ,  6.  , 33.  ,
        23.  , 48.  , 28.  , 34.  , 28.  , 41.  , 20.  , 51.  , 28.  ,
        28.  , 32.  , 48.  , 57.  , 18.  , 28.  ,  5.  , 17.  , 29.  ,
        28.  , 25.  ,  1.  , 46.  , 28.  , 16.  , 28.  , 28.  , 25.  ,
        39.  , 49.  , 31.  , 30.  , 30.  , 34.  , 31.  , 11.  , 31.  ,
        39.  , 39.  , 33.  , 26.  , 39.  , 35.  , 30.5 , 28.  , 23.  ,
        31.  , 10.  , 52.  , 27.  ,  2.  , 28.  , 28.  , 28.  , 15.  ,
        28.  , 23.  , 18.  , 39.  , 21.  , 28.  , 28.  , 16.  , 30.  ,
        34.5 , 42.  , 28.  , 35.  , 28.  , 28.  ,  4.  , 16.  , 18.  ,
        45.  , 51.  , 24.  , 41.  , 24.  , 42.  , 27.  , 31.  ,  4.  ,
        26.  , 47.  , 33.  , 47.  , 28.  , 15.  , 20.  , 19.  , 28.  ,
        22.  , 28.  , 25.  , 19.  , 28.  , 32.  ]),
 'n_siblings_spouses': array([1, 1, 0, 1, 0, 3, 0, 1, 1, 0, 1, 0, 4, 0, 1, 0, 0, 0, 1, 0, 3, 0,
        0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 2, 1, 4, 1, 1, 0, 0,
        0, 0, 5, 0, 0, 1, 3, 1, 0, 4, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 1, 0, 3, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 2, 0, 0, 1, 0, 1,
        0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0,
        0, 2, 0, 0, 0, 0, 0, 0, 0, 8, 0, 0, 0, 4, 0, 0, 4, 1, 3, 0, 0, 0,
        8, 0, 4, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 8, 0, 0, 1, 0, 0,
        0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 3, 1, 0, 0, 0, 1, 0, 0,
        1, 1, 0, 0, 2, 0, 0, 1, 1, 0, 0, 0, 0, 0, 4, 0, 0, 0, 4, 1, 0, 0,
        0, 0, 0, 0, 0, 1, 0, 0, 4, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 1, 1, 0, 0, 2, 1, 0, 1, 1, 0, 1, 0, 0, 1, 8, 0, 0, 1, 2, 0, 1,
        0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
        1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 5, 0, 0, 1, 0, 1, 0, 0,
        0, 0, 0, 0, 0, 1, 1, 1, 0, 3, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
        0, 0, 0, 1, 1, 0, 1, 1, 2, 1, 0, 1, 0, 0, 0, 0, 2, 0, 1, 0, 1, 0,
        0, 1, 0, 0, 0, 0, 0, 0, 0, 2, 0, 1, 0, 0, 1, 1, 0, 5, 0, 0, 1, 3,
        1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
        0, 0, 0, 0, 0, 2, 1, 1, 0, 0, 0, 0, 0, 0, 0, 4, 4, 1, 1, 0, 1, 0,
        0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 2, 0, 0, 0, 0, 2, 0, 0, 0, 1, 0, 0,
        1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0,
        1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, 1, 0, 0, 2, 1, 0,
        0, 0, 0, 0, 2, 0, 1, 2, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
        0, 5, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 3, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 1, 1,
        1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1,
        0, 1, 0, 0, 0, 8, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0,
        0, 0, 0, 0, 1, 3, 1, 0, 4, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
        0, 0, 8, 0, 0, 1, 4, 0, 0, 1, 0, 0, 2, 0, 0, 1, 0, 1, 0, 1, 0, 0,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0]),
 'parch': array([0, 0, 0, 0, 0, 1, 2, 0, 1, 0, 5, 0, 1, 0, 0, 0, 0, 0, 5, 0, 2, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 1, 0,
        0, 0, 2, 0, 0, 0, 2, 1, 0, 2, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0,
        0, 3, 0, 2, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 2, 0, 0,
        0, 2, 0, 0, 2, 0, 1, 0, 0, 2, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0,
        2, 0, 2, 2, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 2, 0, 1, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 2, 0, 1, 0, 2, 0, 0, 1, 0, 2, 0, 0, 0, 1, 0, 1, 0,
        0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 2, 1, 0, 1, 0, 2, 1, 0, 0, 1, 2, 0, 0, 1, 0, 1, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 4, 0, 1, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 2, 0, 0, 2, 0, 0, 2, 0,
        0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 2, 0, 0, 0, 1, 0,
        0, 0, 0, 0, 0, 0, 0, 2, 3, 4, 0, 1, 0, 0, 0, 0, 1, 0, 2, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 2, 0, 0, 0, 0, 1, 2, 0, 0, 0, 1,
        0, 0, 1, 0, 0, 0, 2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        1, 0, 0, 0, 0, 1, 1, 1, 2, 0, 2, 0, 0, 2, 2, 2, 2, 0, 0, 0, 1, 2,
        0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 1, 0, 0,
        1, 0, 0, 0, 0, 2, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 5, 0, 0, 0,
        2, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 5, 0, 0, 0, 1, 0, 0,
        0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
        0, 2, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 1,
        1, 1, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2,
        0, 2, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 1, 0, 1, 2, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 1, 2, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
        0, 0, 2, 0, 1, 0, 2, 1, 1, 1, 0, 3, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0]),
 'fare': array([  7.25 ,  71.283,   7.925,  53.1  ,   8.458,  21.075,  11.133,
         30.071,  16.7  ,   8.05 ,  31.275,   7.854,  29.125,  13.   ,
         18.   ,   7.225,  26.   ,  35.5  ,  31.387,   7.225, 263.   ,
          7.879,   7.896,  27.721, 146.521,   7.75 ,  10.5  ,  82.171,
         52.   ,   7.229,  11.242,   9.475,  21.   ,   7.896,  41.579,
          8.05 ,  15.5  ,  21.679,  17.8  ,  39.688,  76.729,  26.   ,
         61.979,  35.5  ,  10.5  ,   7.229,  46.9  ,   7.229,  80.   ,
         83.475,  27.9  ,  15.246,   8.158,   7.925,   8.662,  10.5  ,
         73.5  ,  56.496,   7.65 ,   7.896,   8.05 ,  29.   ,  12.475,
          9.   ,   9.5  ,   7.787,  47.1  ,  34.375,   8.05 , 263.   ,
          8.05 ,  61.175,   7.25 ,   8.05 ,  34.654,  63.358,  23.   ,
         26.   ,   7.896,   7.896,  77.287,   8.654,   7.925,   7.896,
          7.775,  24.15 ,  52.   ,  14.454,   8.05 ,  14.458,   7.925,
          7.75 ,  21.   , 247.521,   8.05 ,  30.071,  13.   ,   7.75 ,
          7.142,   6.975,   7.05 ,  14.5  ,  15.046,  26.283,  53.1  ,
          9.217,  79.2  ,  15.246,   7.75 ,   6.75 ,  11.5  ,  34.375,
         12.525,   8.05 ,  14.5  ,   7.312,  61.379,   7.733,   8.662,
         69.55 ,  16.1  ,   7.775,   8.662,  39.688,  55.   ,  56.496,
         29.125,   7.854,  25.467,  28.712,  13.   ,   0.   ,  69.55 ,
         15.05 ,  31.387,  22.025,  15.5  ,  26.55 ,   7.896,  13.   ,
          7.854,  26.   ,  27.721, 146.521,   7.75 ,   7.75 ,  13.   ,
          9.5  ,  69.55 ,   6.496,  10.463,  15.85 ,  18.788,   7.75 ,
         31.   ,  21.   ,   7.25 ,   7.75 , 113.275,   7.925,  27.   ,
         10.5  ,   8.05 ,   8.05 ,   9.35 ,  10.5  ,   7.25 ,  13.   ,
         25.467,  83.475,   7.775,  13.5  ,   7.55 ,  26.   ,  10.5  ,
         12.275,  14.454,  15.5  ,   7.125,   7.225,  90.   ,  14.5  ,
          7.25 ,  10.463,  16.1  ,  20.212,  79.2  , 512.329,  26.   ,
          7.75 ,  31.387,   0.   ,   7.75 ,  10.5  ,  39.688,   7.775,
        153.463, 135.633,  31.   ,   0.   ,  19.5  ,  29.7  ,   7.75 ,
         77.958,   7.75 ,   0.   ,  29.125,  20.25 ,   7.854,   9.5  ,
         26.   ,  78.85 ,  12.875,   7.896,  30.5  , 247.521,   7.75 ,
          0.   ,  12.35 ,   8.05 , 110.883, 108.9  ,  24.   ,  56.929,
         83.158, 262.375,  26.   ,   7.896,  26.25 ,  26.   , 164.867,
        134.5  ,   7.25 ,   7.896,  29.   ,  69.55 , 135.633,   6.237,
         20.525,  23.25 , 153.463, 133.65 ,   7.896,  66.6  ,   8.05 ,
         35.5  ,  13.   ,  13.   ,  13.   ,  13.   ,  13.   ,  16.1  ,
          7.229,  17.8  ,   7.225,   9.5  ,  55.   ,  13.   ,   7.879,
          7.879,  27.9  ,  27.721,  14.454,   7.05 ,  15.5  ,  75.25 ,
          7.229,   7.75 ,  69.3  ,   6.496,   8.05 ,  82.171, 211.5  ,
          7.775, 227.525,   7.925,   7.896,  73.5  ,  46.9  ,   7.729,
         12.   , 120.   ,   7.796, 113.275,  16.7  ,   7.796,   7.854,
         26.   ,  10.5  ,   7.925,   8.05 ,  15.85 ,  21.   ,  18.75 ,
          7.775,  25.467,   7.896,   6.858,   0.   ,   7.925,   8.05 ,
         32.5  ,  13.   ,  13.   ,   7.896,   7.733,  20.212,  26.   ,
          7.75 ,   8.05 ,  26.55 ,  16.1  ,  26.   ,   7.125,  55.9  ,
        120.   ,  18.75 , 263.   ,  10.5  ,  26.25 ,   9.5  ,  13.   ,
          8.113,  26.55 ,  19.258,  30.5  ,  27.75 ,  27.75 ,  89.104,
          7.896,  26.55 ,  51.862,  26.55 ,   8.05 ,  38.5  ,   8.05 ,
          7.05 ,  26.55 ,   7.725,  19.258,   7.25 ,  27.75 ,  13.792,
         52.   ,  21.   ,   7.046,  12.287,  46.9  ,   0.   ,   9.588,
         91.079,  25.467,  90.   ,  29.7  ,  15.9  ,  19.967,  49.504,
          8.05 , 151.55 ,   8.662,   7.75 ,   9.588, 108.9  ,  26.   ,
         26.55 ,  56.496,  59.4  ,   7.496,  34.021,  10.5  ,  26.   ,
          7.896,  93.5  ,   7.896,  57.979,   7.229,   7.75 ,  10.5  ,
        221.779,  11.5  ,  26.   ,   7.229,  22.358,   8.662,  26.25 ,
         26.55 , 106.425,  49.5  ,  71.   ,  31.275,  31.275, 106.425,
         26.   ,  13.863,  20.525, 110.883,  26.   ,   7.829,   7.775,
         39.6  , 227.525,  79.65 ,  17.4  ,   7.75 ,   7.896,   8.05 ,
         24.15 ,   7.896,  21.075,   7.854,  10.5  ,  51.479,  26.387,
          8.05 ,  13.   ,  30.   ,  40.125,  15.   ,  79.2  ,   8.05 ,
          7.125,  78.267,   7.25 ,   7.75 ,  26.   ,  24.15 ,  33.   ,
          0.   ,   7.225,  56.929,  26.55 ,  15.55 ,   7.896,  30.5  ,
         41.579, 153.463,  31.275,   7.05 ,  15.5  ,   8.05 ,  65.   ,
         14.4  ,  10.5  ,  15.742,  32.321,  12.35 ,  77.958,   7.896,
          7.733,  30.   ,   7.054,  30.5  ,  27.9  ,  13.   ,   7.925,

In [34]:
titanic_ds = tf.data.Dataset.from_tensor_slices((titanic_features_dict, titanic_labels))

To train a model using this `Dataset`, you'll need to at least `shuffle` and `batch` the data.

In [35]:
titanic_batches = titanic_ds.shuffle(len(titanic_labels)).batch(32)

Instead of passing `features` and `labels` to `Model.fit`, you pass the dataset:

In [36]:
titanic_model.fit(titanic_batches, epochs=5)

Epoch 1/5
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.3998
Epoch 2/5
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.3978
Epoch 3/5
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.4078
Epoch 4/5
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.4176
Epoch 5/5
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.3616

### From a single file
So far this tutorial has worked with in-memory data. `tf.data` is a highly scalable toolkit for building data pipelines, and provides a few functions for loading CSV files.

In [37]:
titanic_file_path = tf.keras.utils.get_file("train.csv", "https://storage.googleapis.com/tf-datasets/titanic/train.csv")

Downloading data from https://storage.googleapis.com/tf-datasets/titanic/train.csv
30874/30874 ━━━━━━━━━━━━━━━━━━━━ 0s 0us/step

**`tf.data.experimental.make_csv_dataset`**  

Now read the CSV data from the file and create a [`tf.data.Dataset`](https://www.tensorflow.org/api_docs/python/tf/data/Dataset).

(For the full documentation, see [`tf.data.experimental.make_csv_dataset`](https://www.tensorflow.org/api_docs/python/tf/data/experimental/make_csv_dataset))

In [38]:
titanic_csv_ds = tf.data.experimental.make_csv_dataset(
    titanic_file_path,
    batch_size=5, # Artificially small to make examples easier to show.
    label_name='survived',
    num_epochs=1,
    ignore_errors=True,)

WARNING:tensorflow:From /usr/local/lib/python3.11/dist-packages/tensorflow/python/data/experimental/ops/readers.py:572: ignore_errors (from tensorflow.python.data.experimental.ops.error_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use `tf.data.Dataset.ignore_errors` instead.

This function includes many convenient features, so the data is easy to work with. This includes:

- Using the column headers as dictionary keys.
- Automatically determining the type of each column.

In [39]:
for batch, label in titanic_csv_ds.take(1):
  for key, value in batch.items():
    print(f"{key:20s}: {value}")
  print()
  print(f"{'label':20s}: {label}")

sex                 : [b'male' b'male' b'male' b'female' b'female']
age                 : [31. 36. 28. 57. 48.]
n_siblings_spouses  : [1 0 0 0 1]
parch               : [0 0 0 0 2]
fare                : [52.    12.875  8.113 10.5   65.   ]
class               : [b'First' b'Second' b'Third' b'Second' b'Second']
deck                : [b'B' b'D' b'unknown' b'E' b'unknown']
embark_town         : [b'Southampton' b'Cherbourg' b'Southampton' b'Southampton' b'Southampton']
alone               : [b'n' b'y' b'y' b'y' b'n']

label               : [0 0 1 0 1]

2024-04-14 01:13:38.891008: W tensorflow/core/framework/local_rendezvous.cc:404] Local rendezvous is aborting with status: OUT_OF_RANGE: End of sequence